body {
    background: linear-gradient(283deg, rgba(83,4,123,1) 0%, rgba(169,0,205,1) 54%, rgba(119,0,235,1) 100%);
}
h1 {
    color: #eee;
}
h2 {
    color: #ccc;
}
.container {
    background-color: rgba(0, 0, 0, 0.6);
}
input[type=text], select {
    border: 1px solid #999;
    color: #ccc;
}
option, optgroup {
    background-color: #555;
}
input[type=text]:focus, select:focus {
    border: 1px solid #999;
}
input[type=button] {
    background-color: #a2007f;
}
input[type=button]:hover {
    background-color: #a2007f;
}
input[type=button]:active {
    background-color: #82005f;
}

.switch:hover {
    filter: drop-shadow(0px 0px 4px rgba(239, 239, 239, 1))
}

.switch:active {
    filter: drop-shadow(0px 0px 4px rgba(209, 209, 209, 1))
}

::-webkit-scrollbar-thumb {
    background: #cccccc30;
    border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cccccc50;
}

.notification h2 {
    color: #333;
}